doctype html
head
    meta(charset='utf-8')
    title UY Timetable Woodstock School
    script(src='//d3js.org/d3.v4.min.js')
    link(rel='stylesheet' type='text/css' href='timetable.css')
    link(ref="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet")
body
    #banner

    #header
        p
        | Explore the timetable with the click of the mouse.
        | A second click restores the timetable view.
    #legend
    #chart
    #footer
    #secondfooter
        p Developed by Ruben D. Pinzon M. 2018
    script(type='text/javascript' src='timetableUY.js')